
.loginButton {
    -fx-background-color: #A7C7E7;
    -fx-text-fill: #3E4C6B;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-padding: 12 24;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-width: 0px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 6, 0.5, 3, 3);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease-in-out;
}

.loginButton:hover {
    -fx-background-color: #8FB6D9;
    -fx-text-fill: #3E4C6B;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 6, 0.4, 5, 5);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-border-width: 1px;
}

.logoImg {
    fx-padding: 200px;
}

/* styles/style.css */
.backButton {
    -fx-background-radius: 6;
    -fx-padding: 6 12;
}

